div
  a.sr-only.focusable(href="#main") Skip to main content
header.banner.knee-down(role="banner")
  .strip
    a.toggle.image#navToggle(href="#nav", role="button", aria-label="Toggle Navigation") 
      i.icon.grunticon-navtoggle-menu
      span.text 
        | Menu
    .body
      a.flag.image-link(href="#{ site_url }")
        .image
          include ./assets/icons/_source/logo-small.svg
          .base-only
            img(src="#{ site_url }assets/icons/build/png/logo-small.png")
        .body
          span.logo-text
            abbr.icon.block.grunticon-wordmark-small.ir(title="#{ org_name }")
              | #{ org_abbr }
            span.project-name #{ site_name }
