.grid.pulled.blocks
  for page, slug in public[listing_root]._data
    - var url = site_url + listing_root + '/' + slug + '.html'
    if slug !== 'index'
      .column.hand-full.desk-half
        .card
          header.header
            h1.title 
              a(href="#{url}",rel="bookmark") #{ page.title }
          section.content
            div.copy
              if page.description
                p #{page.description}
          if page.date
            footer.footer
              span.byline
                time(datetime="#{ new Date(page.date) }") #{page.date} 
                if page.author
                  | by 
                  a(href="#{page.author.url}") #{page.author.name}
