.panel#main_menu
  .menu.primary
    .item.flush.desk-up
      a.image-link(href="#{ site_url }")
        i.icon.block.grunticon-logo-med.autosize
        span.logo-text
          abbr.icon.grunticon-wordmark-med.autosize.ir(title="#{ org_name }")
            | #{ org_abbr }
          span.project-name #{ site_name }
    ul.items
      - var $i = 1;
      for page, slug in public._data
        if page.draft!=='true' || environment==='development'
          li(class='#{ current.path[0] === slug ? "current" : "" }' role="presentation")
            a.item(href="#{ site_url }#{ slug === 'index' ? '' : (slug + '/') }") #{ page.title }
      li.item(role="presentation")
        a.item(href="http://open-services.net/") open-services.net