.panel#main_menu
  .menu.primary(data-prospectus,data-manage-focus="false")
    .item.flush.desk-up
      a.image-link(href="#{ site_url }")
        i.icon.grunticon-logo-med
        span.logo-text
          abbr.icon.grunticon-wordmark-med.ir(title="#{ org_name }")
            | #{ org_abbr }
          span.project-name #{ site_name }
    .item
      script(async)
        (function() {
          var cx = '007332863250739994192:7x5ikyiembq';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      gcse:searchbox-only
        
    ul.items
      for page, slug in public._data
        if !page.draft || environment === 'development'
          li(class='#{ current.path[0] === slug ? "current" : "" }')
            a.item(href="#{ site_url }#{ slug === 'index' ? '' : (slug + '/') }") #{ page.menu_title || page.title }
      li(role="presentation")
        a.item(href="http://open-services.net/") open-services.net