ul.slats
  for links, name in meta_block
    li.slat(class="#{name === 'Status' ? 'pos-rel' : ''} #{hidden && hidden.indexOf(name) !== -1 ? 'sr-only' : ''}")
      if name === 'Link'
        for link in links
          a.action(href="#{link.url || '#'}") 
            .flag.reversed
              .body #{link.title || link}
              .image
                i.icon.grunticon-action-outgoing
      else
        .flag
          .image
            if name !== "Status"
              i.icon(class="#{'grunticon-meta-' + name.toLowerCase()}")
            else
              for link in links
                i.icon.grunticon-meta-status(class="grunticon-meta-status#{link.title}",style="transform:rotate(#{link.value*3.6}deg);-webkit-transform:rotate(#{link.value*3.6}deg)")
          .body 
            .header #{name}
            ul.links.tightened
              for link in links
                li.item
                  if name === "Status"
                    span(data-filter-on="status",data-tooltip,title="Some more detailed text that I will bother to flesh out on the real site") #{link.title || link}
                  else if name === "Workgroup"
                    a(href="#{link.url || '#'}",data-filter-on="workgroup") #{link.title || link}
                  else
                    a(href="#{link.url || '#'}") #{link.title || link}
                  
                  if link.value
                    progress.status(max="100",value="#{link.value}",class="#{  link.title.toLowerCase()}")
                      span.fallback(style="width:#{link.value}%;")