.grid.pulled.blocks
  for post in posts
    .column.hand-full.desk-half
      .card
        header.header
          h1.title 
            a(href="#{post.url}",rel="bookmark") #{ post.title }
        section.content
          div.copy
            p #{post.desc}
        div.footer
          footer.meta
            span.byline
              time(datetime="#{ new Date(post.date) }") #{post.date} 
              if post.author
                | by 
                a(href="#") #{post.author.name}
