.copy
  p IBM Rational Team Concert integrates task tracking, source control, and agile planning with continuous builds and a configurable process to adapt to the way you work.

  div 
    a.action(href="https://jazz.net/downloads/rational-team-concert/releases/4.0") 
      .flag.reversed
        .body Learn more at jazz.net
        .image
          i.icon.grunticon-action-outgoing
          
  h2 Compatibility

if consumes || produces
  span#product-name.hidden #{product_name}
  div.menu.horizontal.copy-spacing.enhanced-only(data-manilla="true")
    span.item.heading View
    a.item(href="#compatibility-graphical") Graphical
    a.item(href="#compatibility-tabular") Tables &rsquo;n&rsquo; links
  div.tabpanels  
    #compatibility-graphical.enhanced-only
      .copy 
      .grid.pulled
        .column.hand-full.workstation-major
          #compatibility-graphic.copy
        .column.hand-full.workstation-minor
          div.legend
            strong Legend:
            p Hover over, focus, or tap any node for more details
            p 
              span(data-tooltip, title="Can output a specification that #{product_name} can consume") Compatible producers
              |  on the left; 
              span(data-tooltip, title="Can consume a specification that #{product_name} can output") compatible consumers
              |  on the right.
            ul.flat#compatibility-graphic-legend
      
    #compatibility-tabular
      .grid.pulled
        if compatible_providers
          .column.hand-full.desk-half
            .copy
              h3 Compatible providers
      
              p The following products can output one or more specifications that #{product_name} can consume.
            
              ul#providers
                for specs, product in compatible_providers
                  li
                    a(href="#",data-compatible-provider,data-specifications="#{specs.join('||')}", data-dendogram-tooltip="#{product} outputs #{specs.join(', ')}, which #{product_name} can consume") #{product}
                    | &ensp;
                    span(data-tooltip,title="#{product} outputs #{specs.join(', ')}, which #{product_name} can consume")
                      span.sr-only Details

        if compatible_consumers
          .column.hand-full.desk-half
            .copy
              h3 Compatible consumers
            
              p The following products can consume one or more specifications that #{product_name} outputs.

              ul#consumers
                for specs, product in compatible_consumers
                  li
                    a(href="#",data-compatible-consumer,data-specifications="#{specs.join('||')}", data-dendogram-tooltip="#{product} can consume #{specs.join(', ')}, which #{product_name} outputs") #{product}
                    | &ensp;
                    span(data-tooltip,title="#{product} can consume #{specs.join(', ')}, which #{product_name} outputs")
                      span.sr-only Details
  .notice.warning
    p We make no guarantees about compliance with any specification.

